.Editor > section {
    margin-bottom: 40px;
}

.Editor > section > h4 {
    font-size: 22px;
    font-weight: bold;
}

.Editor .date_section {
    display: table;
    width: 100%;
}

.Editor > section > textarea {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    display: table-cell;
    width: auto;
    vertical-align: middle;
}
.Editor > section > .date_input > input {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    display: table-cell;
    width: auto;
    vertical-align: middle;
}


.Editor > section .date_input {
    display: flex;
    justify-content: space-around;
}

.Editor > section > .date_input > input {
    width: 100%;
}

.Editor .date_section > .date_input > Button {
    padding: 13px 20px;
    margin-left: 10px;
    width: auto;
}

.Editor > section > textarea {
    padding: 20px;
    width: 100%;
    min-height: 200px;
    resize: vertical;
    box-sizing: border-box;
}

.Editor .emotion_section .emotion_list_wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2%;
}

.Editor .button_section {
    display: flex;
    justify-content: space-between;
    
}