.user_form {
    margin-top:  150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.user_form .user_info {
    width: 100%;
}

.user_form .user_info > input {
    display: flex;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 93%;
}

.user_form button {
    margin-top: 20px;
    width: 100%;
}

.user_form .user_reg {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 15px;
}

.user_form .user_reg > p {
    cursor: pointer;
    margin: 5px 5px 0px 0px;

}